<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- <link rel="canonical" href="https://www.datafied.world/"> <!-- Tells google this is our primary link -->

        <!-- Bootstrap CSS -->
        <link rel="icon" href="/static/images/icon.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 1024px)" href="{{ url_for('static', filename='styles/main_medium.css') }}">
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 767px)" href="{{ url_for('static', filename='styles/main_mobile.css') }}">
        <meta charset="UTF-8">
        <meta name="keywords" content="">


        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-VZTQBBF5P5"></script>

        <title>Ads For Black Lives</title>


        <!-- <script type="text/javascript"
          src="{{ url_for('static', filename='main.js') }}">
        </script> -->

    </head>

    <body>
        <div class="content">
          <h1 class="title">BLACK LIVES MATTER</h1>
          <p class="text">
            This page is dedicated to donating all advertising revenue to <strong><a href="https://secure.actblue.com/donate/bail_funds_george_floyd">this ActBlue donation fund</a></strong>
            which splits donations between over 40 organizations helping the cause.
          </p>
          <p class="text">For more resources and ways to get involved <strong><a href="https://docs.google.com/document/u/1/d/1gS2xHpX4kYefbG8mErND2mTK0pOtmThUjHVrVy11zWc/mobilebasic?fbclid=IwAR07qysu7sQWL_043-HVvIyhNfBYH3bL4nVlPKvVIv6v-c7n_vwSoCDRcc4">Click Here</a></strong>.</p>
          <h4 class="tags">#BLM #ACAB</h4>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
